
.header{
    padding: 40px 120px 0px;
    max-width: 100%;
    min-height: 39vh;
  
}
.header__container{
    display: flex;
    position: relative;
    column-gap: 20px;
}

.right-column{
    z-index: 1;
}
.header-title{
    font-family: 'ArchivoBlack';
    color: #ffffff;
    font-size: 4.5rem;
    line-height: 78px;
    padding-top: 49px;
    padding-bottom: 15px;
    max-width: 793px;
}

span {
    display: block;
}

.header-description{
    color: #ffffff;
    opacity: 0.5;
    font-size: 1.125rem;
    padding-bottom: 30px;
    max-width: 790px;
}

.header-resume{
    color: #ffffff;
    font-size: 1.125rem;
    max-width: 793px;
    padding-bottom: 30px;
}

.nav__list{
    display: flex;
    list-style: none;
    column-gap: 30px;
    padding: 0;
    margin: 0;
}

.nav-link{
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 25px;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 5px solid transparent;
    border-image: linear-gradient(90deg, #4C1A97, #6D6DFF);
    border-image-slice: 1;
    padding-bottom: 5px;
}

.nav-link:hover{
    color: rgba(255, 255, 255, 0.5); 
}

.image__container{
    width: 32.25%;
    height: 100%;
    z-index: 1;
}

.profile_pic{
    width: 100%;
    padding-bottom: 500px;
    background-size: cover;
    background-position: center;
}


.profile__pic_restless{
    background-image: url(../images/FW-ACID-Poster-Design-4.jpg);
}

.circle{
  width: 700px;
  height: 700px;
  background: radial-gradient(circle, rgba(109, 109, 255, 1) 0%, transparent 70%);
  border-radius: 50%;
  filter: blur(1.5rem);
  opacity: 0.38;
  position: absolute;
  z-index: 0;
  top: -15px;
  left: 600px;
}



@media screen and (max-width: 1104px) {
  .header{
    padding: 40px 40px 0px;
    min-width: 100%;
    min-height: 42.343vh;
    box-sizing: border-box;
  }
  .header-title {
    font-size: 3.625rem;
    padding-top: 0;
  }

  .header-resume, .header-description{
    max-width: 452px;
  }
  
.image__container{
    width: 31.4%;
    height: 51.66;
}

  .profile_pic{
        padding-bottom: 280px;
  }
  .circle{
     top: 40%;
     left: 70%;
    transform: translate(-50%, -50%);
    }
}

@media screen and (max-width : 544px) {
    .header{
    padding: 20px 20px 0px;
    box-sizing: border-box;
    }

    .header__container{
        flex-direction: column-reverse;   
    }
    .header-resume, .header-description{
        max-width: 280px;
    }
    .profile_pic{
        min-width: 280px;
        padding-bottom: 280px;

    }

    .header-title{
        font-size: 2.25rem;
        line-height: 39px;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .header-resume{
        font-size: 1rem;
    }
    .header-description{
        font-size: 1rem;
    }
    .nav__list{
        flex-direction: column;
        align-items: flex-start;
        row-gap: 25px;
    }
    .circle{
     top: 10%;
     left: 50%;
    transform: translate(-50%, -50%);
    }
}