
.content{
    padding-top: 100px;
    padding-left: 120px;
    max-width: 1200px;

}


.two-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.media-card{
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    max-height: 670px;
}

.proyectos_title{
    font-family: 'ArchivoBlack';
    color: #ffffff;
    font-size: 2.5rem;
    padding-bottom: 50px;
}


.info-content{
    margin: 0;
    padding: 30px;
}

.box-title{
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.box-text{
     font-size: 1.125rem;
     color: #ffffff;
     margin-bottom: 30px;
}

.demo__text{
    font-size: 1rem;
    color: #6D6DFF;
}

.github__text{
    font-size: 1rem;
    color: #ffffff;
    opacity: 60%;
}

.live-demos{
    display: flex;
}

.demo-vivo, .github{
    display: flex;
    gap: 10px;
}

.github{
    margin-left: 20px;
}

.github:hover{
    opacity: 50%;
}

.demo-vivo:hover{
    opacity: 50%;
}