.habilidades{
    padding-left: 120px;
    padding-right: 120px;
    box-sizing: border-box;
}

.habilidades_title{
    font-family: 'Archivo Black';
    color: #ffffff;
    font-size: 2.5rem;
    padding-top: 100px;
    padding-bottom: 50px;
}

.logo_container{
    display: flex;
    justify-content: space-between;
}


.logo_icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 1023px) {
  .habilidades{
    padding-left: 40px;
    padding-right: 40px;
  }

  .habilidades_title{
    padding-top: 80px;
  }
}

@media screen and (max-width: 767px) {
    .habilidades{
        padding-left: 20px;
        padding-right: 20px;
    }

    .habilidades_title{
        font-size: 1.75rem;
        padding-top: 60px;
        padding-bottom: 20px;
    }

    .logo_container{
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 53px;
        row-gap: 30px;
    }

    .logo_icon {
        width: 30px;
        height: 30px
    }



}
